body {
    background-color: cadetblue;
}

span,
h3 {
    min-height: 100px;
    background-color: blueviolet;
}

.alone {
    background-color: silver;
    font-weight: bold;
    width: 100%;
}

.btn {
    background-color: chocolate;
}